
body {
  background-image: url("../../public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

  #registration-screen {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    height: 60%;
    background-image: url("../../public/2.jpg");
  }
#login-screen {
    position: absolute;
    top: 22%;
    left: 20%;
    right: 20%;
    height: 25%;
    background-image: url("../../public/2.jpg");

  }
  

#top-part {

    background-image: url("../../public/1.jpg");

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 33.33%;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-container label {
    display: inline-block;
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100px;
  }
  
  .input-container input[type="text"],
  .input-container input[type="password"] {
    padding: 5px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 600px; 
  }

  #input-picture {
    color: #333;
    padding: 5px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 600px;
    background-color: white;
  }
  
  .button-container {
    display: flex;
    align-items: flex-end;
  }
  
  #register-button {
    margin-top: 2%;
    padding: 10px 20px;
    background-color: #0b13a6;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 67%;
    cursor: pointer;
  }
  
  #register-button:hover {
    background-color: #43538c;
  }
  
  #go-to-login {

    color: white;

    display: inline-block;
    margin-top: 20px;
    margin-left: 35%;
    font-size: 14px;
    position: absolute;
    left: 30%;
  }


  #add-picture img {
    padding-left: 60px;
    width: 160px;
    height: 120px;
  }
  
  a {
    color: rgb(53, 64, 13);
  }
  
  a:visited {
    color: rgb(53, 64, 13);
  }
  
  a:hover {
    color: blue;
  }
  
  a:active {
    color: green;
  }
  
  a:focus {
    color: orange;
  }
.input-container input.invalid {
  border: 2px solid red;
}
.input-container input.valid {
  border: white;
}
.error-message{
  margin-left: 10px;

  font-weight: bold;
  color: darkred;

}
.error-message-for-sumbit{
  font-weight: bold;
  color: darkred;
  margin-left: 15%;
  font-size: 15px ;
}